<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p><strong>Bienvenido al Cat치logo de Productos y Servicios "Hecho en Bolivia".</strong></p>
<p>
  Su registro a nuestro sistema de actualizaci칩n de novedades ha sido satisfactoria.
</p>
<p>
  Su c칩digo para desuscribirse es: <%= @suscriber.code %>
</p>

<p>Atentamente</p>

<p><a href='<%= ENV["SITE_URL"] %>'>Cat치logo de Productos y Servicios "Hecho en Bolivia"</a></p>
</body>
</html>
