
<script>
$(document).ready(function () {
          var token = localStorage.getItem("Token");
          if (token==null) {
              alert("Acceso denegado, no tiene autorización para este contenido");
              location.href = "/logins";
              return;
          
          }
        }) 
</script>
<div class="ui center aligned container basic segment ">
  <div class="ui form piled segment" >
    <h3 class="ui center aligned dividing header">Cambiar contraseña</h3>
    <div class="form">
      <div data-bind="visible: hasError" class="ui negative message">
                <i  data-bind="click: noErrors"></i>
                <div class="header">
                 No puedes modificar tu contraseña por las siguientes razones:
                </div>
                <ul data-bind="foreach:errorMessages"> <li><p data-bind="text: $data"></p></li></ul>

  </div>
        <div class="field">
          <label>Contraseña actual </label>
          <input placeholder="" maxlength="100" type="password" id = "old_password2" name = "old_password" data-bind = "value: editablePassword().password">
        </div>
        <div class="field">
          <label>Contraseña nueva </label>
          <input placeholder=""  maxlength="100" name = "password" id = "password" type="password" data-bind = "value: editablePassword().new_password">
        </div>
        <div class="field">
          <label>Confirmar contraseña nueva</label>
          <input placeholder="" maxlength="100" name = "password_confirmation" id = "password_confirmation" type="password" data-bind = "value: editablePassword().new_password_confirmation">
        </div>
        <div class="ui center aligned container basic">
          <div class="ui green submit button" data-bind="click: updatePassword" >Guardar</div>
        </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  $('#createUserDialog')
      .modal('attach events', '.olive.button', 'show')
      .modal('setting', 'closable', false)
      .modal('setting', 'transition', 'vertical flip')
      .modal({
        onApprove: function () {
          UsersModel.createUser();
        }
      })
  ;

  $('.ui.dropdown').dropdown();
</script>
