<!-- Breadcrumbs -->
<div class="ui container segment basic">
  <div class="ui large breadcrumb">
    <div class="active section">¿Quienes somos?</div>
  </div>
  <div class="ui yellow left aligned padded basic segment">
    <div class="ui right floated container basic">
    </div>
  </div>
</div>

<!--Contenido-->
<div class="ui main text fixed justified container segment basic" id="1raPagina">
  <h1 class="ui center aligned red header">Fundación Hecho en Bolivia</h1>
  <p>
  <h3></br>PERSONALIDAD JURÍDICA</h3> </br>
  El Ministerio de Autonomías. “En el marco del Artículo 298, Parágrafo II Numerales 14 y 15 de la Constitución Política
  del Estado,
  el Artículo 8 de la Ley N° 351 de 19 de marzo de 2013 de Otorgación de Personalidades Jurídicas,
  el inciso a) del artículo 23 del D.S. N° 1597 de 5 de junio de 2013 y habiéndose cumplido los requisitos legales y
  normativas respectivas,
  se confiere el presente CERTIFICADO de: PERSONALIDAD JURÍDICA a la FUNDACIÓN HECHO EN BOLIVIA. Otorgada a través de la
  R.M. 030/2016”.
  </p>

  <p>
  <h3></br>¿QUÉ ES LA FUNDACIÓN HECHO EN BOLIVIA?</h3></br>
  <strong>La Fundación Hecho en Bolivia</strong> es una persona jurídica de derecho privado; sin fines de lucro.
  El alcance de las actividades realizadas por la FUNDACION, se orientan a contribuir al Desarrollo Económico Social,
  conforme los lineamientos establecidos en la Planificación Nacional, las Políticas nacionales y las Políticas
  sectoriales.
  </p>
  <p>
    <strong>La Fundación Hecho en Bolivia</strong>, tiene como <strong>objeto</strong>, según lo establecido por su
    Estatuto,
    “Contribuir al desarrollo y la integración de los productos y servicios nacionales, promoviendo todo tipo de
    actividades de promoción,
    fomento, capacitación, innovación, premiación e información, articulando actores y recursos para lograr el
    crecimiento económico y
    empleo sostenible en un entorno integral y colaborativo”.
  </p>
  <p>
    <strong>La Fundación propugna los siguientes fines:</strong>
  <div class="ui content list">
    <li>A. Contribuir al desarrollo de la región y el país, a través de actividades de promoción y fomento de la
      producción de bienes
      y servicios “Hecho en Bolivia”.
    </li>
    <li>B. Constituir una plataforma de encuentro, análisis y debate entre las comunidades científica, educativa,
      tecnológica y
      empresarial de la región y el país.
    </li>
    <li>C. Impulsar la divulgación de la oferta productiva del país.</li>
    <li>D. Fortalecer la conciencia del consumidor a nivel nacional sobre los bienes y servicios “Hecho en Bolivia”.
    </li>
    <li>E. Promover y apoyar la competitividad de las empresas productivas de bienes y servicios “Hecho en Bolivia”.
    </li>
  </div>
  </p>
  <p>
    <strong>Objetivos:</strong>
  <div class="ui content list">
    <li>a) Vincular mediante la cadena de valor a los demandantes de productos, procesos y servicios con los productores
      de bienes
      y servicios “Hecho en Bolivia”.
    </li>
    <li>b) Contribuir a las políticas nacionales de promoción, difusión y administración de la marca país.</li>
    <li>c) Fomentar el desarrollo tecnológico y la competitividad en el sector empresarial.</li>
    <li>d) Generar espacios de encuentro de profesionales académicos, funcionarios gubernamentales y representantes
      empresariales,
      para el fomento, promoción y fortalecimiento de la producción de bienes y servicios “Hecho en Bolivia”.
    </li>
    <li>e) Elaborar documentos de la oferta del sector productivo.</li>
    <li>f) En general promover todo tipo de actividades para la divulgación de los bienes y servicios “Hecho en
      Bolivia”.
    </li>
  </div>
  </p>
  <p>
    <strong>La Fundación Hecho en Bolivia</strong> desarrollará actividades no financieras en todos los Departamentos
    que comprenden el territorio del
    Estado Plurinacional de Bolivia.
  </p>
  <p>
  <h3></br>DIRECTORIO:</h3></br>
  <div class="ui content list">
    <li>Ing. Luis Laredo Arellano - PRESIDENTE</li>
    <li>Ing. Milton Encinas Montaño - VICEPRESIDENTE</li>
    <li>Lic. Tania Claros Vargas - TESORERA Ing. Javier Lujan Contreras - VOCAL</li>
    <li>Ing. Guillermo Mendizábal Terán - VOCAL</li>
    <li>Lic. Diego Argandoña Aramayo - VOCAL</li>
  </div>
  </p>
</div>
