<!-- Breadcrumbs -->
<div class="ui container segment basic">
  <div class="ui large breadcrumb">
    <div class="active section">Términos y condiciones de uso del catálogo de Productos y Servicios "Hecho en Bolivia"
    </div>
  </div>
  <div class="ui yellow left aligned padded basic segment">
    <div class="ui right floated container basic">
    </div>
  </div>
</div>

<!--Terminos y Condiciones-->
<div class="ui sticky">
  <div class="ui container">
    <div class="ui center aligned grid">
      <div class="thirteen wide column">
        <div class="ui basic segment ">
          <h1 class="ui center aligned red header" style="font-variant:small-caps">Condiciones de uso</h1>

          <div class="ui segment">
            <div class="ui yellow segment">
              <h2 class="ui header">1. Presentacion </h2>
              <div class="sub header">
                Somos una página web diseñada para ayudar a pequeños y grandes emprendedores bolivianos.
              </div>
              </h2>
            </div>
            <div>
              Nuestras finalidades son:<br>
              <div class="ui left aligned basic segment">
                <p style="margin-left:5%; text-align:justify;">
                  <i class="right triangle icon"></i>
                  Que se conozcan los productos hechos en Bolivia.
                </p>
                <p style="margin-left:5%; text-align:justify;">
                  <i class="right triangle icon"></i>
                  Se valorice el esfuerzo nacional.
                </p>
                <p style="margin-left:5%; text-align:justify;">
                  <i class="right triangle icon"></i>
                  Que exista prosperidad empresarial en Bolivia.
                </p>
              </div>
            </div>
          </div>

          <div class="ui segment">
            <div class="ui yellow segment">
              <h2 class="ui header">2. Derechos y limites </h2>
              <div class="sub header">
                Te comprometes a suministrarnos únicamente la información </br>y</br> el contenido sobre los que tengas
                derecho y a que la información será veraz.
              </div>
              </h2>
            </div>
            <div class="ui left aligned basic segment">
              <p style="margin-left:5%; text-align:justify;">
                <i class="right triangle icon"></i>
                Eres el propietario de todo el contenido, los comentarios y los datos personales y empresariales que
                proporciones.
              </p>
              <p style="margin-left:5%; text-align:justify;">
                <i class="right triangle icon"></i>Cuando ves o utilizas el contenido y la información de terceros
                publicados en nuestros Servicios, lo haces por tu propia cuenta y riesgo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div><!--Grid end-->
  </div>
  <div class="ui basic segment"></div>
</div>
  <!--fin de Terminos y condiciones-->
