<!-- Breadcrumbs -->
<div class="ui container segment basic">
  <div class="ui large breadcrumb">
    <div class="active section">Productos y Servicios</div>
  </div>
  <div class="ui yellow left aligned padded basic segment">
    <div class="ui right floated container basic">
    </div>
  </div>
</div>

<div class="ui container segment basic">

  <!--Pestañas-->
  <div class="three ui buttons">
    <a class="ui button active item" href="/company/products" data-tab="productos">Productos</a>
    <a class="ui button item" href="/company/services" data-tab="servicios">Servicios</a>
  </div>
  <!--fin Pestañas-->

  <!--Agregar boton-->
  <div class="ui container basic segment">
    <a id="createButton" class="green ui button">
      <i class="add icon"></i> Agregar Producto
    </a>
  </div>
  <!--fin Agregar boton-->


  <div class="ui stackable inverted divided grid" data-bind="foreach: products">
    <div class="eight wide column">
      <div class="ui basic segment">

        <img data-bind="attr:{ src: '/image_store/product' + id + '.gif' }" width="250" height="250"/>
        <div id="simpleFormat" class="ui content">
          <div class="ui teal header" data-bind="text: commercial_name"></div>
          <div class="ui padded basic segment" style="text-align: justify; white-space: pre-wrap" data-bind="text: description">
          </div>
          <div class="ui basic segment">
            <span style="color:#0E6EB8"><b>Certificaciones: </b></span><span data-bind="text: certification" ></span>  <br>
            <span style="color:#0E6EB8"><b>Posición arancelaria: </b></span><span data-bind="text: tariff_position"></span>
          </div>
          <a class="ui left attached blue button" data-bind="click: $parent.openProductToEdit">Editar</a>
          <div class="right attached ui red button" data-bind="click: $parent.removeProduct">Eliminar</div>
        </div>
      </div>
    </div>
  </div>

</div>



<div id="createProductDialog" class="ui modal fullscreen">
  <div class="ui two column centered grid segment basic">
    <div class="ui twelve wide column segment basic form">
      <h4 class="ui dividing header">Formulario de Registro</h4>


      <div class="two fields">
        <div class="field">
          <label>Producto</label>
      <div class="divided grid">

        <div class="row">


          <input id="nameEdit"  maxlength="40" name="commercial_name" type="text" data-bind="value: editingProductModel().commercial_name" placeholder="Nombre Comercial" required>
        </div>
        <div class="field">
          <br>

          <label>Rubro de Producto </label>
           <!-- <div class="ui selection dropdown" data-bind="value: editingProductModel().category_id">
             <input type="hidden" name="type">
            <i class="dropdown icon"></i>
            <div class="default text">Tipo de producto</div>
            <div class="menu" data-bind="foreach: $root.productTypes">
              <div class="item" data-bind="value: id, text: name.replace(' ', '&nbsp;')"></div>
            </div>
          </div> -->

          <select id="cateogyEdit" class="ui search dropdown" data-bind="options: $root.productTypes,
                      optionsText: 'name',
                      optionsValue: 'id',
                      value: editingProductModel().category_id"></select>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <br>
          <label>Certificaciones (Opcional)</label>
          <div class="field">
            <input id="certificationEdit" maxlength="100" type="text" data-bind="value: editingProductModel().certification" name="shipping[address]" placeholder="Separe con comas" required>
          </div>
        </div>
        <div class="field">
          <br>
          <label>Posición arancelaria (Opcional)</label>
          <div class="field">
            <input id="tariff_positionEdit" maxlength="100" type="text" data-bind="value: editingProductModel().tariff_position" name="shipping[address]" placeholder="0123XXXXXXXX" required>
          </div>
        </div>
      </div>


      <div class="field">
        <label>Descripción</label>
        <textarea id="descriptionEdit" maxlength="240" rows="2" data-bind="value: editingProductModel().description" required></textarea>
      </div>

      </div>

      <div class="row">
      <div id="image_preview" style="display:none"><img id="announcementPreview" src=""/></div>

      <label>Elija la imagen de su producto</label><br/>
      <input data-bind = "value: productImage" type="file" name="announcementFile" id="announcementFile" required/>
      <!-- <button id="submitAnnouncment">Subir</button> -->
      <h4 id='loading' style="display:none">Subiendo..</h4>
      <div id="message"></div>
					<div data-bind="visible: hasError" class="ui negative message">
							<!-- <i class="close icon" data-bind="click: noErrors"></i> -->
							<div class="header">
							 Tu producto no puede ser creado por los siguientes campos:
							</div>
							<ul data-bind="foreach:errorMessages"> <li><p data-bind="text: $data"></p></li></ul>
						</div>
      </div>

    </div>
    <div class="actions">
      <button id="submitAnnouncment" class="ui blue right button" data-bind="click: createProduct">Aceptar</button>
      <a class="ui red deny button">Cancelar</a>
    </div>
    </div>

			<div id ="successMessage" class="ui modal">

      <div class="header">Exito!</div>
      <div class="content">
        <p>Registro de nuevo producto</p>
      </div>
      <div class="actions">
        <a href="/company/products" class="ui inverted green positive right button">Aceptar</a>
      </div>

    </div>
  </div>
</div>



<div id="editProductDialog" class="ui modal fullscreen">

  <div class="ui two column centered grid segment basic">
    <form class="ui twelve wide column segment basic form">
      <div class="ui container segment center aligned basic">

        <input type="file" id="file" style="display:none" required>
      </div>
      <h4 class="ui dividing header">Formulario de Edicion</h4>


      <div class="two fields">
        <div class="field">
          <label>Producto</label>
            <div class="divided grid">
              <div class="row">

          <input id = "editName" maxlength="40" name="commercial_name" type="text" data-bind="value: editingProductModel().commercial_name" placeholder="Nombre Comercial" required>
        </div>
        <br>

        <div class="field">

          <label>Rubro de Producto</label>
          <!-- <div class="ui selection dropdown">
            <input type="hidden" name="type">
            <i class="dropdown icon"></i>
            <div class="default text">Rubro de producto</div>
            <div class="menu" data-bind="foreach: $root.productTypes">
              <div class="item" data-bind="value: id, text: name.replace(' ', '&nbsp;')"></div>
            </div>
          </div> -->

          <select class="ui fluid search selection" data-bind="options: $root.productTypes,
                      optionsText: 'name',
                      optionsValue: 'id',
                      value: editingProductModel().category_id"></select>

        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <br>
          <label>Certificaciones (Opcional)</label>
          <div class="field">
            <input maxlength="100" type="text" data-bind="value: editingProductModel().certification" name="shipping[address]" placeholder="Separe con comas" required>
          </div>
        </div>
        <div class="field">
          <br>
          <label>Posición arancelaria (Opcional)</label>
          <div class="field">
            <input maxlength="100" type="text" data-bind="value: editingProductModel().tariff_position" name="shipping[address]" placeholder="0123XXXXXXXX" required>
          </div>
        </div>
      </div>


      <div class="field">
        <label>Descripción</label>
        <textarea maxlength="240" rows="2" data-bind="value: editingProductModel().description" required></textarea>
      </div>
</div>
<div class="row">

      <div id="edit_image_preview" ><img id="edit_announcementPreview" height="150" width="130" data-bind="attr:{ src: editingProductModel().image_path}"/></div>
      <label>Elija la imagen de su producto</label><br/>
      <input type="file" name="edit_announcementFile" id="edit_announcementFile" required/>
      <!-- <button id="submitAnnouncment">Subir</button> -->
      <h4 id='loading' style="display:none">Subiendo..</h4>
    </div>


  </div>
  <div class="actions">
    <div class="ui red deny button" onclick="resetForm()">
      Cancelar
    </div>
    <div class="ui blue positive right labeled icon button">
      Guardar
      <i class="save icon"></i>
    </div>
  </div>
  </form>
</div>

</div>

<script>
    function resetForm() {
      document.getElementById("nameEdit").value = "";
      document.getElementById("cateogyEdit").value = "";
      document.getElementById("certificationEdit").value = "";
      document.getElementById("tariff_positionEdit").value = "";
      document.getElementById("descriptionEdit").value = "";
    }
    $('#editProductDialog').keyup(function(e) {
       if (e.keyCode == 27) {
         resetForm();
       }
    });
    $('#editProductDialog')
        .modal('attach events', '.teal.button', 'show')
        .modal('setting', 'closable', false)
        .modal( {observeChanges: true})
        .modal('setting', 'transition', 'vertical flip')
        .modal({
            onApprove: function () {
                productsModel.updateProduct();
            }
        })
    ;

    $('#createProductDialog')
        .modal('setting', 'closable', false)
        .modal('attach events', '#createButton', 'show')
        .modal( {observeChanges: true})
    ;
</script>
<script type="text/javascript">
		$('#successMessage')
        .modal('setting', 'closable', false)
		.modal('attach events', '.teal.button', 'show')

    ;
</script>
<script>
    $(document).ready(function (e) {
        $("#announcementFile").change(function () {
            $("#message").empty();
            var file = this.files[0];
            var imagefile = file.type;
            var match = ["image/jpeg", "image/png", "image/jpg", "image/gif"];
            if (!((imagefile == match[0]) || (imagefile == match[1]) || (imagefile == match[2]) || (imagefile == match[3]))) {
                $('#previewing').attr('src', 'noimage.png');
                $("#message").html("<p id='error'>Por favor seleccione un archivo de imagen válido.</p><span id='error_message'> Los tipos soportados son: jpg, gif y png.</span>");
                return false;
            }
            else {
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });

        function imageIsLoaded(e) {
            $("#file").css("color", "green");
            $('#image_preview').css("display", "block");
            $('#announcementPreview').attr('src', e.target.result);
            $('#announcementPreview').attr('width', '150px');
            $('#announcementPreview').attr('height', '130px');
        };
    });
    $(document).ready(function (e) {
        $("#edit_announcementFile").change(function () {
            $("#message").empty();
            var file = this.files[0];
            var imagefile = file.type;
            var match = ["image/jpeg", "image/png", "image/jpg", "image/gif"];
            if (!((imagefile == match[0]) || (imagefile == match[1]) || (imagefile == match[2]) || (imagefile == match[3]))) {
                $('#previewing').attr('src', 'noimage.png');
                $("#message").html("<p id='error'>Por favor seleccione un archivo de imagen válido.</p><span id='error_message'> Los tipos soportados son: jpg, gif y png.</span>");
                return false;
            }
            else {
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });

        function imageIsLoaded(e) {
            $("#file").css("color", "green");
            $('#edit_image_preview').css("display", "block");
            $('#edit_announcementPreview').attr('src', e.target.result);
            $('#edit_announcementPreview').attr('width', '150px');
            $('#edit_announcementPreview').attr('height', '130px');
        };
    });

    function simpleFormat(str) {
      str = str.replace(/\r\n?/, "\n");
      str = $.trim(str);
      if (str.length > 0) {
        str = str.replace(/\n\n+/g, '</p><p>');
        str = str.replace(/\n/g, '<br />');
        str = '<p>' + str + '</p>';
      }
      return str;
    }
</script>
